<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {{>header}}
    <h2><marquee>{{title}}</marquee></h2>
    <p>This Website was created by Gurdeep. It uses data from Weather stack and Mapbox API</p>
    {{>footer}}
</body>
</html>